.campaign-outer-div {
    background: repeating-linear-gradient(to right,
            #404040 0px,
            #404040 10px,
            #696969 10px,
            #696969 15px);
    background-size: 100% 100%;

    min-height: 550px;
    max-width: 550px;
    max-height: fit-content;
    min-width: 100%;
    padding: 10px;



    .logo {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-top: 50px;
        background-color: white;
    }

    .type-of-campaign {
        margin-top: 15px;
        margin-bottom: 35px;
        font-family: 'Dancing Script',
            cursive;
        font-size: 20px;
        font-weight: 700;
    }

    .card {
        border-radius: 10px;
    }

    .card .card-body {
        padding: 10px;
        height: 60px;

    }

    .claim-prize-btn {
        width: 200px;
        font-size: 11px;
        color: #404040;
        font-weight: bold;
        border-radius: 20px;

    }

    .logo-wrapper {
        .logo {
            border-radius: 10px;
            // background-color: #fff;
            text-align: center;
            height: 80px;
            width: 80px;
            background-position: center;
            background-size: contain;
            // border-radius: 50%;
            background-color: #fff;
            background-repeat: no-repeat;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }




    label,
    input {
        position: relative;
        display: block;
        padding-right: 76px;
        width: 174px;
        box-sizing: border-box;
    }

    label::after {
        content: '.'attr(data-domain);
        position: absolute;
        top: 4px;
        left: 96px;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
    }
}

.new-campaign {
    .input-group-text {
        border-left: unset;
        background-color: white;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
    }

    .input-group input {
        border-right: unset;
    }

    .banner-img {
        height: 40px;
        margin: 20px;
        background-size: 100% 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}