.table {
  border-radius: 20px;
}

th:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

th:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}



.btn-outline-dark {
  border: 1px solid !important;
}

.campaign-table-wrapper {


  .campaign-table {
    tr {
      border-bottom-style: solid !important;
      font-weight: 600;
    }

    tr:last-child {
      border-bottom: 1px solid transparent !important;
      ;
    }

    th {
      padding: 15px !important;

    }
  }

  .action-btns .btn {
    border: 1px solid !important;
    padding: 5px 10px !important;
  }

  .campaign-table-outer {
    min-height: 350px;
    position: relative;
  }

  .qr-code {
    font-size: 5px;
    width: 120px;
  }
}


.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}