.verify-screens {

    .user-details-sub-div {
        background-image: url('https://s3.ap-south-1.amazonaws.com/fedicoms.net/template_images/background_images/background.png');
        background-size: 100% 100%;
        height: 100vh;
        -webkit-clip-path: polygon(100% 0, 100% 30%, 50% 61%, 0 30%, 0 0);
        clip-path: polygon(100% 0, 100% 30%, 50% 61%, 0 30%, 0 0);
    }

    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .sub-div {
        position: absolute;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        width: 540px;
        background-color: #ffffff;
        padding: 50px 0 50px 0;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 10px;

        .otp-input {
            width: 200px;
            margin: auto;
        }


        .heading {
            // font-family: 'Dancing Script',
            //     cursive;
            font-size: 24px;
            margin-top: 45px;
        }

        .logo-wrapper {
            .logo {
                max-height: 120px;
                max-width: 120px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;

            }

            // text-align: center;
            // margin-top: 50px;
            background-color: #ffffff;
            border-radius: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 15px;
            left: 50%;
            height: 175px;
            width: 180px;
        }


    }
}


@media (max-width:980px) {



    .verify-screens .form-group.mt-5 {
        margin-top: 3.75rem !important;
    }

    .verify-screens .sub-div {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 16%;
        transform: translate(0);
        margin: 0 auto;
    }

    .verify-screens .sub-div .heading {
        font-size: 20px;
        margin-top: 45px;
    }


}

@media (max-width:479px) {
    .form-group.mt-15.for-mobile {
        margin-top: 15px !important;
    }


}


@media (max-height:600px) {

    .verify-screens {
        min-height: 650px;

    }
}


.otp-screen {

    @media (max-width: 980px) {
        .sub-div {
            left: 5%;
            margin: 0 auto;
            position: absolute;
            top: 20%;
            -webkit-transform: translate(0);
            transform: translate(0);
            width: 90%;
        }
    }
}




@media screen and (max-width: 995px),
screen and (max-height: 700px) {
    .verify-screens .user-details-sub-div {

        clip-path: polygon(100% 0, 100% 24%, 50% 50%, 0 24%, 0 0);
    }


}