.search-input {

    .has-search .form-control {
        padding-left: 2.375rem;
        background-color: white;
        border: 1px solid darkgrey;
        height: 35px;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        padding-left: 5px;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 33px;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    input {
        border: unset;
    }

    .input-group {
        background-color: white;
        border: 1px solid darkgrey;
        height: 35px;

        input {
            height: 33px;
        }
    }

    i {
        padding: 9px 0px 7px 10px;
    }

    .svg-icon {
        svg {
            margin: 10px 0px 10px 10px;
            height: 12px;
        }
    }


}