#kt_aside {


    .menu {
        margin-top: 10px;
    }

    .menu-link {
        height: 45px;
    }

    .menu-item .active {
        background-color: #f5f8fa;
        color: black;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: relative;



        .menu-title {
            color: black;
            font-weight: 500;
        }

        i {
            color: black;
        }

    }

    .menu-item .active::before {
        content: '';
        position: absolute;
        top: -30px;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 15px 12px 0 #f5f8fa;
        ;
    }




    .menu-item .active::after {
        content: '';
        position: absolute;
        bottom: -30px;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 15px -15px 0 #f5f8fa;


    }

    .menu-item .menu-link .menu-icon {
        width: 2.5rem;
    }

    .menu-title {
        color: #f5f8fa;
    }

    .logo-wrapper {
        background-color: #ffffff;
        border-radius: 100%;
        height: 60px;
        width: 60px;
        position: relative;

        img {
            position: absolute;
            height: 30px;
        }
    }

}

.aside.aside-dark .aside-logo {
    background-color: #303030;

}

.aside.aside-dark {
    box-shadow: 10px 0 0 #f5f8fa;
}