.ScratchCard__Result {
    background-color: white;
    color: black;
    border-radius: 15px;

}

.ScratchCard__Container {
    margin: auto;
    border-radius: 15px;
}

.ScratchCard__Canvas {
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 15px;

}

.scratch-card {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    font-weight: 600;

    div {
        width: 60%;
        text-align: center;
    }
}