.user-campaign-spin-wheel {
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    overflow-x: hidden;

    .campaign-type {
        font-family: 'Dancing Script',
            cursive;
        font-size: 28px;
    }

    .logo-wrapper {
        .logo {
            border-radius: 10px;
            // background-color: #fff;
            text-align: center;
            height: 65px;
            width: 65px;
            background-position: center;
            background-size: contain;
            // border-radius: 50%;
            background-color: #fff;
            background-repeat: no-repeat;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }

        text-align: center;
        height: 90px;
        width: 90px;
        position: relative;

        margin: auto;
        margin-top: 70px;
        border-radius: 50%;
        background-color: #fff;




    }

    // .next-btn {
    //     border-radius: 20px;
    // }

    .banner1 {
        height: 60px;
        width: 40%;
        margin: 40px auto 40px auto;
        background-size: 100% 100%;
        background-position: center;
    }

    .banner2 {
        height: 60px;
        width: 60%;
        margin: 40px auto 40px auto;
        background-size: 100% 100%;
        background-position: center;
    }



}