.logo-img {
    height: 80vh;
    position: relative;
    border-right: 1px solid #222;

    img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%
    }
}


@media (max-width:980px) {

    .logo-img {
        height: 52vh;
        position: relative;
        border-right: 1px solid #222;
    }
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}