// .ScratchCard__Result {
//     background-color: white;
//     color: black;
//     border-radius: 15px;

// }

// .ScratchCard__Container {
//     margin: auto;
//     border-radius: 15px;
// }

// .ScratchCard__Canvas {
//     height: 100%;
//     width: 100%;
//     left: 0;
//     border-radius: 15px;

// }

#js-container {
    border: unset !important;
    width: 250px !important;
    height: 250px !important;

    img {
        width: 250px !important;
        height: 250px !important;
    }
}