.topbar {
    .avatar {
        vertical-align: middle;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .bell-icon {
        svg {
            height: 18px;
            width: 35px;
        }

        margin-top: 5px;


    }

    #kt_aside_toggle {
        svg {
            height: 22px;
            width: 22px;
        }
    }

}